<div data-user='<%= message.user.id %>'>
  <% unless skip_name %>
    <div class='their-sender'>
      <%= message.user.name %>
    </div>
  <% end %>
  <div class='message their-message'>
    <%= message.render %>
  </div>
</div>
