<div data-user='<%= message.user.id %>'>
  <% unless skip_name %>
    <div class='sender your-sender'>
      You:
    </div>
  <% end %>
  <div class='message your-message'>
    <%= message.content %>
  </div>
</div>
