<div id='header-bar'>
  <div id='header-bar-title'>
    <span>ShareSpace</span>
  </div>
  <div id='header-bar-links'>
    <div class='header-link'>
      <span>About</span>
    </div>
    <div class='header-link'>
      <span>Help</span>
    </div>
    <div class='header-link'>
      <span>Content</span>
    </div>
  </div>
</div>
