// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#message-container {
  display: none;
}

.prompt-container {
  padding-top: 10px;
}

.prompt {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: 'montserrat-light';
  font-size: 1.7em;
}

#prompt-tile {
  justify-content: center;
}

.room-index-flex-container {
  display: flex;
  width: 100%;
  height: -webkit-calc(100vh - 95px);
  height:    -moz-calc(100vh - 95px);
  height:         calc(100vh - 95px);
}

.left-container {
  flex: 4;
  display: table-cell;
  height: -webkit-calc(100% - 100px);
  height:    -moz-calc(100% - 100px);
  height:         calc(100% - 100px);
}

.right-container {
  flex: 1;
  height: 100%;
  border-left: 3px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: black;

  font-family: 'montserrat-light';
}

.users-title {
  text-align: center;
  font-size: 1.4em;
}

.users-list {
  padding: 10px;
}

.messages-container {
  height: 100%;
  //background-color: orange;
  overflow: scroll;
  font-family: 'montserrat-light';
  font-size: 1em;
}

.send-container {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 100px;
}

.send-button-bar {
  display: flex;
  border-top: 1px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: black;
  height: 49px;
  width: 100%;
}

.send-message-bar {
  padding: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 44px;
  border-top: 1px;
  border-left: 0px;
  border-right: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: black;
}

.message-content {
  padding-left: 4%;
  font-family: 'montserrat-light';
  font-size: 1em;
  height: 35px;
  width: calc(90% - 41px);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.message-send {
  width: 41px;
  height: 41px;
  float: right;
  margin-right: 10px;
}

.message {
  height: auto;
  width: 200px;
  border-radius: 10px;
  padding: 15px;
  margin: 8px;
  margin-top: 2px;
}

.their-message {
  background-color: lightgray;
}

.your-message {
  margin-left: auto;
  background-color: #13cdfb;
}

.their-sender {
  margin-left: 15px;
  margin-top: 8px;
}

.your-sender {
  width: 240px;
  margin-left: auto;
  margin-top: 8px;
}

.uploaded-image-container {
  max-width: 200px;
  max-height: 100px;
}

.uploaded-image {
  max-width:100%;
  height:auto;
}

.upload > input {
    display: none;
}

.button-bar-button {
  margin-top: 4px;
  margin-left: 20px;
  cursor: pointer;
}

.image-button {
  width: 40px;
  height: 40px;
}

.link {
  text-decoration: underline;
}
