// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-container {
  display: none;
}

.prompt-container {
  padding-top: 10px;
}

.prompt {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: 'montserrat-light';
  font-size: 1.7em;
}

#password-tile {
  justify-content: center;
}
